<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lacewing Floral</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link
      rel="preload"
      href="fonts/Avenir-Book.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="root"></div>
    <% if ( htmlWebpackPlugin.options.includeSw ) { %>
    <script>
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>
    <% } %>
  </body>
</html>
